{% extends "resume_builder/base.html" %}
{% load markdownify %}
{% block body %}
<div id="resume" class="m-3">
<h2 class="float-left">{{ resume.name }}</h2>
<p class="float-right m-1 mt-4">{{ resume.number }}</p>
<p class="float-right mt-4">{{ resume.email }} |</p>
<br><br><hr>
{% if resume.education %}
<h5>Education</h5>
{{ resume.education | markdown | safe }}
<hr>
{% endif %}
{% if resume.work %}
<h5>Work Experience</h5>
{{ resume.work | markdown | safe }}
<hr>
{% endif %}
{% if resume.skills %}
<h5>Skills</h5>
{{ resume.skills | markdown | safe }}
{% endif %}
</div>
<input type="button" class="btn btn-primary ml-3" value="Save" onclick="printDiv('resume')"/>
<script>
    function printDiv(divName) {
        var printContents = document.getElementById(divName).innerHTML;
        var originalContents = document.body.innerHTML;

        document.body.innerHTML = printContents;

        window.print();

        document.body.innerHTML = originalContents;
    }
</script>
{% endblock body %}